@model IEnumerable<MvcBlog.Domain.Entities.Comment>
@using GridMvc.Html
@using GridMvc.Sorting

@Scripts.Render("~/bundles/gridmvc")

@{
    ViewBag.Title = "Manage Comments";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="data-grid">
    @Html.Grid(Model).Named("commentsGrid").Columns(columns =>
    {
        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30).RenderValueAs(col => @Html.ActionLink("Edit", "EditComment", new { col.CommentID }));

        columns.Add(col => col.CommentID)
            .Titled("Comment ID")
            .Sortable(true)
            .SortInitialDirection(GridSortDirection.Descending)
            .SetWidth(50);

        columns.Add(col => col.PostID)
            .Titled("Post ID")
            .Sortable(true)
            .Filterable(true)
            .SetWidth(50);

        columns.Add(col => col.CommentContent)
            .SetWidth(800)
            .Titled("Comment content")
            .Sanitized(false)
            .Encoded(false)
            .Sortable(true)
            .Filterable(true);

        columns.Add(col => col.CommentCreatedBy)
        .Titled("Created By")
        .Sortable(true)
        .Filterable(true);

        columns.Add(col => col.CommentCreationDate)
            .Titled("Creation Date")
            .Sortable(true)
            .Filterable(true)
            .SetWidth(200);

        columns.Add(col => col.CommentLastModifiedBy)
            .Titled("Modified By")
            .Sortable(true)
            .Filterable(true);

        columns.Add(col => col.CommentLastModificationDate)
            .Titled("Modification Date")
            .Sortable(true)
            .Filterable(true)
            .SetWidth(200);

        columns.Add()
            .RenderValueAs(col => Html.CheckBox("CommentIsVisible", col.CommentIsVisible, htmlAttributes: new { disabled = "disabled" }))
            .Encoded(false)
            .Sanitized(false)
            .Titled("Visible?")
            .Sortable(true);

        columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(col => @Html.ActionLink("Delete", "DeleteComment", new { commentId = col.CommentID }));
    }).WithPaging(20)
</div>