@{
    Layout = null;
    ViewBag.Title = "Forgot password";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPassword</title>
</head>
<body>
    <div>
        <h2>Forgot Password</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <fieldset>
                <legend>Forgot Password Form</legend>
                <ol>
                    <li>
                        @Html.Label("User Name", new { @for = "UserName" })
                        @Html.TextBox("UserName")
                    </li>
                </ol>
                <br/>
                <span style="color:red;">@TempData["Message"]</span>
                <input type="submit" value="Recover" />
            </fieldset>
        }
    </div>
</body>
</html>
