@model MvcBlogApplication.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup>
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p>@ViewBag.StatusMessage</p>

<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>


@Html.Partial("_ChangePasswordPartial")


