@{
    Layout = null;
    ViewBag.Title = "ResetPassword";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ResetPassword</title>
</head>
<body>
    <div>
        <h2>@ViewBag.Title</h2><h2>

            @ViewBag.Message
        </h2>
    </div>
</body>
</html>
