body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 10pt;
}

/* validation
----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

#admin-tabs {
    margin: 50px 0;
    padding: 0;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: .85em;
}

    #admin-tabs a {
        padding: 10px;
        text-decoration: none;
        color: Black;
    }

        #admin-tabs a:hover {
            background-color: #00BCF2;
        }

        #admin-tabs a.selected-posts {
            background-color: #46C1BE;
            color: White;
        }

        #admin-tabs a.selected-comments {
            background-color: #FB9F11;
            color: White;
        }

        #admin-tabs a.selected-users {
            background-color: #002050;
            color: White;
        }

        #admin-tabs a.selected-roles {
            background-color: #3F500C;
            color: White;
        }

        #admin-tabs a.selected-site {
            background-color: #FF1769;
            color: White;
        }

#info-message {
    display: block;
    text-align: center;
    background-color: mediumaquamarine;
    padding: 5px;
    margin-bottom: 20px;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
}

#new-post {
    padding: 20px;
    background-image: url("../Content/Theme/NewPostLink.png");
    background-repeat: no-repeat;
    width: 230px;
    height: 56px;
}

    #new-post a {
        color: white;
        text-decoration: none;
        font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
        font-size: .85em;
    }

.data-grid {
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: .85em;
    text-align: center;
}

.text-disabled {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 15px;
    color: #555555;
    background-color: #EEE;
    vertical-align: middle;
    border: 1px solid #cccccc;
}

.editor-container {
    width: 800px;
    margin: 0 auto;
    min-height: 600px;
}

    .editor-container label {
        margin-top: 10px;
    }

.thumb-layout {
    width: 302px;
    border: 1px solid #4B4A45;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px 0;
}

.feat-layout {
    width: 800px;
    border: 1px solid #4B4A45;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 20px 0;
}

.image-upload {
    text-align: center;
    border: 1px solid #cccccc;
    margin: 20px 0;
}

.message-container {
    margin: 0 auto;
    width: 800px;
}

.controls-area {
    margin: 20px auto;
}

.roles-table {
    width: 300px;
    margin: 0 auto;
}

.role-text {
    width: 718px;
}