@using MvcBlog.WebUI.HtmlHelpers

@model MvcBlog.WebUI.Models.PostsListViewModel

@{
    ViewBag.Title = "Posts";
}


@{ Html.RenderAction("Slides", "Featured"); }

@foreach (var p in Model.Posts)
{
    @Html.Partial("~/Views/Shared/_PostSummary.cshtml", p);
}

<div id="pagination">
    @Html.PageLinks(Model.PagingModel, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
</div>