@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body>
        <div>
            @Html.Partial("_LoginPartial")
        </div>

        <div>
            Welcome to MVC blog!
        </div>
    </body>
</html>
